#preview {
  flex: 1 1 auto;

  overflow: hidden;
  position: relative;
  background-color: #dbdbdb;
}

#preview.drag-enter {
  background-color: #abbdcf; /* #1976d2, #2979ff, #1565c0*/
  border: 3px dashed #a2c4fd;
  box-shadow: 0 0 10px #5d8abd, 0 0 40px #42a5f5 inset;
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.2s;
}

#preview > .dragging-over {
  border: none;
  background-color: red;
}

#preview > .dragging-over * {
  display: none;
}

.card {
  position: absolute;

  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.options-panel-cont {
  position: relative;
  width: 100%;
  height: 100%;
}

.options-panel-cont:not([data-selected="true"]) > * {
  display: none;
}

.options-panel {
  position: absolute;
  top: 0;
  right: 0;
}

.resize-handle {
  position: absolute;
  width: 15px;
  height: 15px;

  background-color: bisque;
}

.options-panel-cont:not([data-resizing="true"]) .resize-handle {
  display: none;
}

.resize-handle.vertical{
  cursor: ns-resize;
  left: 50%;
  bottom: -20px;
}

.resize-handle.both {
  cursor: nwse-resize;
  right: -20px;
  bottom: -20px;
}

.resize-handle.horizontal {
  cursor: ew-resize;
  right: -20px;
  top: 50%;
}

.hidden[draggable="true"] {
  /* neither visibility nor display property ensure wanted effect. */
  opacity: 0.01;
}