#preview {
  flex: 1 1 auto;

  position: relative;
  background-color: #dbdbdb;
}

.card {
  position: absolute;

  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.options-panel-cont {
  position: relative;
  width: 100%;
  height: 100%;
}

.options-panel {
  position: absolute;
  top: 0;
  right: 0;
}

.hidden[draggable="true"] {
  /* neither visibility nor display property ensure wanted effect. */
  opacity: 0.01;
}