#preview {
  flex: 1 1 auto;

  position: relative;
  background-color: #dbdbdb;
}

.card {
  position: absolute;

  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.hidden {
  /* visibility or display property changes does not work. */
  opacity: 0.01;
}