.sidebar {
  background-color: #ccc;

  padding: 2em;
}

.draggable-item {
  cursor: grab;
}

.sidebar .comps-title {
  text-transform: uppercase;
}

.sidebar .comps-cont {
  display: flex;
  flex-direction: column;
}